<div class="main">
  <div class="header">
    <div class="backArrow">
      <i class="fas fa-arrow-left" routerLink="/home"></i>
    </div>

    <div class="PageTitle">
      <h3>{{ selectedUser.displayname }}</h3>
      <span>194 Tweets</span>
    </div>
  </div>

  <div class="body">
    <!-- Banner -->
    <div class="banner"></div>

    <!-- Avatar and follow actions -->
    <div class="userAvatarMain">
      <img src="assets/img/arinzeokorji.png" />

      <button *ngIf='selectedUser !== twitchService.particularUser' class="btn btn-primary followBtn" (click)='twitchService.particularUser.follow(selectedUser)'>{{ twitchService.particularUser.followStatus }}</button>
    </div>

    <!-- User Details -->
    <div class="userInfo">
      <div class="userNames">
        <div class="userDisplayName">Taylor Swift</div>
        <div class="userHandle">@taylorswift13</div>
      </div>

      <div class="userBio">
        Support the Equality Act
      </div>

      <div class="userWebsiteLink">
        <div>
          <a href=""><i class="fas fa-link"></i> weblink</a>
        </div>
        <div>
          <span><i class="fas fa-calendar"></i> Joined December 2008</span>
        </div>
      </div>

      <div class="followershipDetails">
        <span class="following"
          ><span>{{ selectedUser.following.length }}</span> Following
        </span>
        <span class="followers"
          ><span>{{ selectedUser.followers.length }}</span> Followers
        </span>
      </div>
    </div>

    <!-- User's Tweets -->

    <!-- Navigation -->
    <ul class="nav">
      <li *ngFor='let nav of navigation' [ngClass]='{active: navSection === nav.title}' (click)='fetchTwitches(nav.title)' ><a>{{ nav.title }}</a></li>
    </ul>

    <app-user-twitches-section [displayedTwitches]='navSectionTwitches'></app-user-twitches-section>
  </div>
</div>
