.main {
  height: 100%;
}

/* Page header */

.header {
  display: flex;
  padding: 10px 15px;
  padding-left: 10px;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.backArrow i {
  color: blue;

  [class~="fas"] {
    padding: 10px;
    padding-left: 3px;
  }
}


.PageTitle {
  margin-left: 20px;
}

/* Button */
.btn {
  font-weight: bolder;
  border-radius: 144px;
  background: none;
  font-size: 15px;
}

.btn-primary {
  background-color: blue;
  border: none;
  color: #fff;
}

/* Banner */
.banner {
  height: 100px;
  width: 100%;
  background: rgb(156, 155, 155);
}

/* Main user avatar */
.userAvatarMain {
  margin: 0 11px;
  padding-top: 7px;
  height: 54px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    border: 3px solid #fff;

  }

}
/* Follow btn */
.followBtn {
  float: right;
    padding: 10px 20px;
    font-size: 15px;
}

/* User Info */
.userInfo {
  margin: 0 11px;
  font-size: 14px;
  margin-bottom: 15px;

  .userNames {
    margin-top: 5px;
    margin-bottom: 9px;

    .userDisplayName {
      font-weight: bolder;
      color: #14171a;
      font-size: 18px;
    }
    .userHandle {

    }
  }

  .userBio {
    margin: 0px 0px 9px;
  }

  .userWebsiteLink {
    color: #657786;
    margin-bottom: 9px;

    a {
      color: blue;
      text-decoration: none;

      i {
        color: #657786;
      }
    }
  }

  .followershipDetails {
    display: flex;

    .followers, .following {
      color: #657786;
      font-size: 14px;

      >span {
        font-weight: bolder;
        color: #14171a;
      }
    }

    .followers {
      margin-left: 18px
    }
  }
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  justify-content: space-evenly;
  border-bottom: 1px solid #c3c3c3;

  li {
    padding: 17px;

    a {
      padding: 15px;
      color: rgb(101, 119, 134);
      font-weight: bolder;
      font-size: 15px
    }
  }

  li.active {
    a {
      color: blue;
      border-bottom: 3px solid blue;
    }
  }

}
